.Cheese {
    font-size: 25px;
    color: #9BE8E6;
}

.read {
    font-size: 20px;
    color: #9BE8E6;
}

.back {
    background-color: #B53B03;
}

.hello {
    background-color: #B53B03;
}

.say {
    background-color: #B53B03;
}

.tehe {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.448) 100%);
}

.nav-link {
    color: #9BE8E6;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #9BE8E6;
}

.text {
    color: #9BE8E6;
}

.align {
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-fluid {
    animation-name: move;
    animation-duration: 3s;
}

@keyframes move {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0px);
    }
}

.lol {
    animation-name: color-change;
    padding: 20px;
    color: #9BE8E6;
    text-shadow: #882af4;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    overflow-x: hidden;
}

@keyframes color-change {
    from {
        font-size: 20px;
        text-shadow: 0px 0px 20px #000000;
    }

    to {
        font-size: large;
        text-shadow: 0px 0px 40px #882af4;
    }
}

.tomato {
    width: 100%;
    display: flex;
}

.sam {
    animation-name: image;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    width: 80vw;
    height: auto;
    margin: auto;
}

@keyframes image {
    from {
        clip-path: circle(50% at 50% 50%);
    }

    to {
        clip-path: circle(70.8% at 50% 50%);
    }
}

img,
h4,
h3 {
    margin: 3vh;
    padding: 3vw;
    font-size: 25px;
}

.background {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.run {
    overflow: hidden;
}

.bird {
    position: absolute;
    z-index: 10;
    top: 30vh;
    left: 20vw;
}

.monofett-regular {
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: large;
    font-size: 50px;
}

.honk-font {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}

.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: large;
    font-size: 50px;
}

.black-ops one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.marginpadd {
    padding: 0vh;
    margin: 0vw;
}

.pipes {
    position: absolute;
    top: 0vh;
    right: 0vw;
}

@media (max-width: 800px) {
    .links-con {
        width: 350px;
    }

    h1 {
        font-size: 20px;
    }

    .links {
        font-size: 15px;
    }

    .vid-con {
        width: 500px;
        height: 300px;
    }

    iframe {
        width: 500px;
        height: 300px;
    }
}

@media (max-height: 400px) {
    .link-con {
        width: 200px;
    }

    h1 {
        font-size: 15px;
    }

    .link {
        font-size: 10px;
    }

    .vids-cons {
        width: 250px;
        height: 350px;
    }

    iframe {
        width: 250px;
        height: 350px;
    }
}

@media (max-width :850px) {
    .link-cons {
        width: 400px;
    }

    h1 {
        font-size: 25px;
    }

    .linked {
        font-size: 20px;
    }

    .vids-con {
        width: 550px;
        height: 350px;
    }

    iframe {
        width: 550px;
        height: 350px;
    }
}

@media (max-width: 1920px) {
    .links-con {
        width: 1920px;
    }

    h1 {
        font-size: 50px;
    }

    .linkes {
        font-size: 45px;
    }

    .vid-cons {
        width: 1920px;
        height: 1080;
    }

    iframe {
        width: 1920px;
        height: 1080px;
    }
}

@media (max-height: 1080px) {
    .links-cones {
        height: 1080px;
    }

    h1 {
        font-size: 50px;
    }

    .linkeds {
        font-size: 45px;
    }

    .vid-cones {
        width: 1920px;
        height: 1080;
    }

    iframe {
        width: 1920px;
        height: 1080px;
    }
}

@media (max-width: 650px) {
    .Cheese {
        font-size: 4rem;
    }

    .read {
        font-size: 2.5rem;
    }
}

/* @media (min-width: 100px) {
    .sam {
        width: 80vh;
        height: auto;
    }
}

@media (max-width: 1250px) {
    .sam {
        width: 700px;
        height: auto;
    }
} */
body {
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("fire.webp") no-repeat;
    background-size: cover;
}

.Block {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: rgb(11, 27, 117);
    top: 12vh;
    left: 20vw;
    text-align: center;
}