.Cheese {
    font-size: 25px;
    color: #9BE8E6;
}
.read {
    font-size: 20px;
    color: #9BE8E6;
}
.back {
    background-color: #B53B03;
}
.hello {
    background-color: #B53B03;
}
.say {
    background-color: #B53B03;

}
.tehe {
    background-color: #960200;
}
.text {
    color: #0A090B;
}
.align {
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div {
    animation-name: move;
    animation-duration: 3s;
}
@keyframes move {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0px);
    }
}
 div {
    animation-name: color-change;
    padding: 20px;
    text-shadow: #6F120B;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes color-change {
    from {
       color: black;
       font-size: 20px;
       text-shadow: 0px 0px 10px #6F120B;
    }
    to {
        color: #5D0E09;
        font-size: large;
        text-shadow: 0px 0px 20px #6F120B;
    }
}
 img {
    animation-name: image;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
 }
@keyframes image {
    from {
        clip-path: circle(50% at 50% 50%);
    }
    to {
        clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    }
}