* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.background {
    height: 100vh;
    width: 200vw;
    background: url("Scifi lab Files/layers/back.png");
    background-size: contain;
    animation-name: scroling;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.bird {
    height: 90px;
    width: 90px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
}

.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 10vw;
    background-color: green;
    background: url("pipe.webp");
    background-size: cover;
}

.message {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: rgb(255, 19, 90);
    top: 12vh;
    font-family: "Honk", system-ui;
    left: 20vw;
    text-align: center;
}

.score {
    position: fixed;
    z-index: 10;
    height: 4rem;
    font-size: 3rem;
    font-weight: 100;
    color: rgb(0, 255, 213);
    top: 0;
    right: 0;
    font-family: "Bangers", system-ui;
    padding: 2rem;
}

.score_val {
    color: rgb(0, 255, 213);
    font-family: "Bangers", system-ui;
}

@keyframes scroling {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: -50% 0;
    }
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}